<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iceihehe.cm.dao.mapper.MTaskMapper">
    <resultMap id="appInfo" type="com.iceihehe.cm.dao.entity.SupportedApp">
        <result column="id" property="id"/>
        <result column="enabled" property="enabled"/>
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="mTask" type="com.iceihehe.cm.dao.entity.MTask">
        <id column="id" property="id" />
        <result column="app_type" property="appType" />
        <association property="supportedApp" javaType="com.iceihehe.cm.dao.entity.SupportedApp">
            <result property="name" column="app_name"/>
        </association>
    </resultMap>
    <sql id="filterMobileAccountId">
        <where>
            monitoring_task.monitored_account_id = #{mobileAccountId} and supported_app.enabled = 1
        </where>
    </sql>
    <select id="getMTaskList" resultMap="mTask">
        select monitoring_task.*, supported_app.name as app_name from monitoring_task  join supported_app  on supported_app.id = monitoring_task.app_type <include refid="filterMobileAccountId"></include>
    </select>
    <select id="getTotal" resultType="Integer">
        select count(1) from monitoring_task join supported_app on supported_app.id = monitoring_task.app_type <include refid="filterMobileAccountId"></include>
    </select>

</mapper>
